.main {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.page {
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.item_container {
  background-color: white;
  margin-top: 2rem;
  border-radius: 1rem;
}

.item_text {
  font-size: 1rem;
  margin: 1rem;
}

.item_container:last-child {
  margin-bottom: 4rem;
}

@media (min-width: 40rem) {
  .item_text {
    font-size: 1.5rem;
  }
}
